@charset "utf-8";
/* CSS Document */

html {
	border-top: 5px solid #F00;
}

body {
	background-color: rgba(129, 202, 161, 0.7);
	margin-top: 2em;
}

h1 {
	font-size: 1.32em;
	text-align: center;
	color:#F00;
	font-family:Arial, Helvetica, sans-serif;
	padding: 10px;
	border-radius: 5px;
}

span {
	text-decoration: line-through;
}

ol {	
	padding: 10px;
	margin: 0;
	list-style-type: none;
}

li {
	padding: 10px;
	cursor: pointer;
}

.strike {
  color: #F00;
  text-decoration: line-through;
  background-color: rgba(129, 202, 161, 0.4);
  border-radius: 10px;
  padding: 10px;
}

section {
	width: 295px;
	margin: 0 auto;
	background-color: #FFF;
	border-radius: 1em;
	padding: 1.3em;
	border: 1px solid #F00;
}

.input-area {
	padding: 10px;
}