@charset "utf-8";
/* CSS Document */

body {
	background-color: #000;
}

h1 {
	font-size: 2em;
	text-align: center;
	color:#B2E6AD;
	font-family: 'Black Ops One';
}
	

.error {
	color:#F33;
	font-size: 12px;
	border: 1px dotted #f33;
	border-radius: 5px;
	padding: 4px;
}

label {
	display: block;
	color:#063;
	
}

form {
	width: 390px;
	margin: 0 auto;
	background-color: #B2E6AD;
	border-radius: 1em;
	border: 3px solid #FFF;
	padding: 2em;
	font-family: 'Questrial';
	font-size: 0.9em;
		
}

input, label, textarea {
display:block;
margin: 5px 0px;
}

fieldset > input, label {
display:inline;
margin: 5px 0;
}

fieldset > label {
margin: 5px 5px 0 0;
border: 0;

}

p {
	font-family: 'Questrial';
	font-size: 0.9em;
}

button {
	padding: 1em;
	font-family: 'Questrial';
	background-color: #000;
	border-radius: 5px;
	width: 100%;
	margin-top: 1em;
	font-size: 1.2em;
	color: #FFF;
}